---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">

      <div class="edit">
        <a href="https://github.com/QUALINET/databases/edit/master/{{ page.path }}" target="_blank">Suggest an edit</a>
      </div>

      <header>
        {% if page.title %}<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        {% if page.excerpt %}
        <p class="page__excerpt">{{ page.excerpt }}</p>
        {% endif %}
        {% if page.read_time %}
          <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}
      </header>

      <footer class="page__meta">
        {% if page.author %}
          <p class="page__meta__misc"><strong><i class="fas fa-fw fa-user" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].author_label | default: "Author:" }}</strong> {{ page.author }}
          </p>
        {% endif %}

        <p class="page__meta__misc"><strong><i class="fas fa-fw fa-handshake" aria-hidden="true"></i> Partner:</strong>
        {% if page.partner %}
        Yes
        {% else %}
        No
        {% endif %}
        </p>

        {% if page.contact_name or page.contact_email %}
          <p class="page__meta__misc"><strong><i class="fas fa-fw fa-id-card" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].contact_label | default: "contact:" }}</strong>
          {% if page.contact_name %}
            {{ page.contact_name }}
          {% endif %}
          {% if page.contact_email %}
            <code>{{ page.contact_email }}</code>
          {% endif %}
          </p>
        {% endif %}

        {% include page__taxonomy.html %}

        {% if page.last_modified_at %}
          <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}

        {% if page.doi %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-link" aria-hidden="true"></i> DOI:</b> <a href=" https://doi.org/{{ page.doi }}" target="_blank">{{ page.doi }}</a>
          </p>
        {% endif %}

        {% if page.subjective_scores %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-users" aria-hidden="true"></i> Subjective scores:</b> {{ page.subjective_scores }}
          </p>
        {% endif %}
        {% if page.total %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-calculator" aria-hidden="true"></i> Total:</b> {{ page.total }}
          </p>
        {% endif %}
        {% if page.src %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-video" aria-hidden="true"></i> SRC:</b> {{ page.src }}
          </p>
        {% endif %}
        {% if page.hrc %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-wrench" aria-hidden="true"></i> HRC:</b> {{ page.hrc }}
          </p>
        {% endif %}
        {% if page.ratings %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-star" aria-hidden="true"></i> Ratings:</b> {{ page.ratings }}
          </p>
        {% endif %}
        {% if page.resolution %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-tv" aria-hidden="true"></i> Resolution:</b> {{ page.resolution }}
          </p>
        {% endif %}
        {% if page.method %}
          <p class="page__meta__misc">
            <b><i class="fas fa-fw fa-cog" aria-hidden="true"></i> Method:</b> {{ page.method }}
          </p>
        {% endif %}

      </footer>

      <section class="page__content page__content__tool" itemprop="text">
        <h3><i class="fas fa-fw fa-info" aria-hidden="true"></i> Description</h3>
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=2 h_max=3 class="toc__menu" %}
            </nav>
          </aside>
        {% endif %}
        {{ content }}
      </section>

      <section class="page__content">
        <h3><i class="fas fa-fw fa-lock" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].access_label | default: "Access" }}</h3>

        {{ page.access | markdownify }}

        {% if page.external_link %}
          {% if page.deprecated %}
            <div class="notice notice--warning">
              <p><i class="fas fa-fw fa-exclamation-circle" aria-hidden="true"></i> <b>Broken link!</b></p>
              <p>The original link was: <a href="{{ page.external_link }}">{{ page.external_link }}</a></p>
            </div>
          {% else %}
            <p class="page__link">
            <a href="{{ page.external_link }}" class="btn btn--info" target="_blank"><i class="fas fa-fw fa-globe" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].ext_link_label | default: "Website" }}</a>
            </p>
          {% endif %}
        {% endif %}
      </section>

      {% if page.license != blank %}
      <section class="page__content">
        <h3><i class="fas fa-fw fa-balance-scale" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].license_label | default: "License" }}</h3>
        {{ page.license }}
      </section>
      {% endif %}

      {% if page.references %}
      <section class="page__content" itemprop="text">
        <h3><i class="fas fa-fw fa-book" aria-hidden="true"></i> References and Citation</h3>
        <p>{{ page.citation }}</p>
        {% if page.references %}
          {% if page.citation %}
          <h4>References</h4>
          {% endif %}
          <ul>
            {% for reference in page.references %}
              <li><code>{{ reference[0] }}</code>: {{ reference[1] }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </section>
      {% endif %}

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "Related" }}</h4>
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    <div class="page__related">
      <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "Related" }}</h4>
      <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>